<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="icon" href="/img/kkkfc.png" type="image/png">
    <title>Portafolio</title>
    
   
</head>
<body>

    {{{body}}}


</body>
</html>
