<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <!-- Agregar tus estilos CSS aquí -->
   
</head>
<body>
    <!-- Menú o encabezado -->
    <header>
        <h1>Mi Portfolio</h1>
        <!-- Aquí puedes agregar el menú de navegación -->
    </header>

    <!-- El contenido específico de cada página se insertará aquí -->
    {{{body}}}

    <!-- Pie de página -->
    <footer>
        <p>Derechos reservados &copy; 2024</p>
    </footer>
</body>
</html>
