:root{
    --blue: #8dd5ec;
    --lightBlue: #eaf4f5;
    --yellow: #f5d50f;
    --lightYellow: #fefacd;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width: 100%;
    min-height: 100vh;
}
.hero{
    width: 100%;
    height: 50vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutUs{
    height: 50vh;
    width: 100vw;
    padding: 0 5%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutUs_textCont{
    width: 40%;
    height: 100%;
    background-color: var(--lightYellow);
}
.aboutUs img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.teamSection{
    width: 100vw;
    min-height: 300px;
    
}
.memberListCont{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.memberCardLink{
    width: 180px;
    height: 100%;
    text-decoration: none;
}
.memberCard{
    width: 100%;
    height: 100%;
    background-color: var(--lightBlue);
    border-radius: 10px;
    overflow: hidden;
}
.memberCard__photoCont{
    width: 100%;
    overflow: hidden;
    height: 80%;
}
.memberCard__photoCont img{
    height: 100%;
    object-fit: cover;
}
.memberCard__infoCont{
    height: 20%;
    width: 100%;
    text-align: center;
    color: black;
}

.teamProjectsSection{
    width: 100%;
    min-height: 200px;
    background-color: var(--lightYellow);
}
.projectListCont a{
    text-decoration: none;
    color: black;
}
.projectCard{
    width: 70%;
    margin: auto;
    background-color: var(--blue);
    padding: 20px;
    margin-bottom: 20px;
}
.projectCardTitleCont p{
    background-color: white;
}
.projectCardTecnologyCont {
    background-color: white;
    margin-top: 20px;
}
.projectCardMembersCont{
    background-color: white;
    margin-top: 20px;
}